@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Phoppins' , 'Roboto' ,Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    background: #ffffff;

}
p{
  font-family: 'Rubik';
}

h2 ,h3 , h4 , h5 ,h6 {
  font-family: 'Rubik';
}

h2{
  font-size: 1.7em;
  font-weight: 700;
  }
  
h3{
  font-size: 1em;
}

h6{
  font-size: 1em;
  font-style: italic;
}


li{
  list-style-type: none;
  font-family: 'Poppin';
  font-weight: 500;
}

a{
  text-decoration: none;
  display: inline-block;
  color: #000;
}

img{
  width: 100%;
}

button{
  font-family: 1em;
  background: #ff424d;
  padding: 1em;
  font-family: "Poppins";
  font-weight: 500;
  color: #ffffff;
  border-radius: 2em;
  border: none;
  transition: color 0.2s ease;
}


#footer{
  background: #000;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
}

/* navbar */

#navbar{
  background: #ffffff;
  padding-block: .5em;
  border-bottom: 1px solid rgb(239, 230, 230);
  margin-inline: 1em;
}

.nav-flex{
  display: flex;
  justify-content: space-between;
}

.flex-1{
  display: flex;
  /* justify-content: space-between; */
}
.flex-2{
  display: flex;
}

#navbar .logo{
  align-self: center;
  width: 30px;
  background: #ffffff;
}
.selling{
  display: none;
  align-self: center;
}

.selling ul li{
  margin-inline: 1em;
  gap: 1em;
  display: inline-block;
  font-weight: 400;
}

.input{
  display: none;
  background: rgb(249, 247, 247);
  align-self: center;
  border-radius: 2em;
  margin-right: 2em;
  padding: .5em 3em .5em 1em;
}

.input input {
  background: rgb(249, 247, 247);
  border: none;
  padding: .3em;
}

.signandlog{
  align-self: center;
}

.signandlog a {
  margin-left: 1em;
}
.signandlog a button:hover{
  background: #ffffff;
  color: #ff424d;
  transition: 0.2s color ease;
  border: 2px solid #ff424d;
}
.second-input{
  background: rgb(249, 247, 247);
  align-self: center;
  border-radius: 2em;
  margin-top: .5em;
  /* margin-right: 2em; */
  padding: .5em 3em .5em 1em;
}

.second-input input {
  background: rgb(249, 247, 247);
  border: none;
  padding-block: .3em;
}

/* heading */

/* #heading{
  max-width: 1200px;
  margin: auto;
} */

.creativity{
  text-align: center;
  margin-block: 1em;
  margin-inline: 1em;
}
.creativity button{
  margin-top: 1em;
  padding-inline: 1.5em;
  /* font-size: 1em; */
}

.moving-corosale .slides-flex-1 , .slides-flex-2 , .slides-flex-3 , .slides-flex-4{
  overflow: overlay;
  display: flex;
  animation: inslide 3s linear;
}

.moving-corosale .slides img{
  width: 150px;
  height: 100px;
  margin-inline: .5em;
  margin-block: .5em;
  border-radius: .5em;
}

@keyframes inslide {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: -0px;
  }
}

/* connect */

#connect{
  max-width: 1200px ;
  margin-inline: 1em;
}

.search-heading{
  text-align: center;
  margin-block-start:2em ;
  margin-block-end: 1em;
}

.search-button form{
  padding-block: 1em;
  background: rgb(249, 247, 247);
  border-radius: 2em;
}
.search-button form i{
  margin-inline-start: 1em;
  margin-inline-end: .5em;
  color: grey;
}
.search-button input{
  font-size: .9em;
  background: rgb(249, 247, 247);
  border: none;
}
.search-button button{
  margin-block: 1em;
  padding-inline: 45%;
  
}
@media(min-width:1000px){

  /* navbar */
  .selling{
    display: block;
  }
  .input{
    display: block;
  }
  .second-input{
    display: none;
  }
}
