@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Phoppins' , 'Roboto' ,Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    background: #ffffff;

}
p{
  font-family: 'Rubik';
}

h2 ,h3 , h4 , h5 ,h6 {
  font-family: 'Rubik';
}

h2{
  font-size: 1.7em;
  font-weight: 700;
  }
  
h3{
  font-size: 1.4em;
}

h6{
  font-size: 1em;
  font-style: italic;
}


li{
  list-style-type: none;
  font-family: 'Poppin';
  font-weight: 500;
}

a{
  text-decoration: none;
  display: inline-block;
  color: #000;
}

img{
  width: 100%;
}

button{
  font-family: 1em;
  background: #ff424d;
  padding: 1em;
  font-family: "Poppins";
  font-weight: 500;
  color: #ffffff;
  border-radius: 2em;
  border: none;
  transition: color 0.2s ease;
}


#footer{
  background: #000;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
}

/* navbar */

#navbar{
  background: #ffffff;
  padding-block: .5em;
  border-bottom: 1px solid rgb(239, 230, 230);
  margin-inline: 1em;
}

.nav-flex{
  display: flex;
  justify-content: space-between;
}

.flex-1{
  display: flex;
  /* justify-content: space-between; */
}
.flex-2{
  display: flex;
}

#navbar .logo{
  align-self: center;
  width: 30px;
  background: #ffffff;
}
.selling{
  display: none;
  align-self: center;
}

.selling ul li{
  margin-inline: 1em;
  gap: 1em;
  display: inline-block;
  font-weight: 400;
}

.input{
  display: none;
  background: rgb(249, 247, 247);
  align-self: center;
  border-radius: 2em;
  margin-right: 2em;
  padding: .5em 3em .5em 1em;
}

.input input {
  background: rgb(249, 247, 247);
  border: none;
  padding: .3em;
}

.signandlog{
  align-self: center;
}

.signandlog a {
  margin-left: 1em;
}
.signandlog a button:hover{
  background: #ffffff;
  color: #ff424d;
  transition: 0.2s color ease;
  border: 2px solid #ff424d;
}
.second-input{
  background: rgb(249, 247, 247);
  align-self: center;
  border-radius: 2em;
  margin-top: .5em;
  /* margin-right: 2em; */
  padding: .5em 3em .5em 1em;
}

.second-input input {
  background: rgb(249, 247, 247);
  border: none;
  padding-block: .3em;
}

/* heading */

/* #heading{
  max-width: 1200px;
  margin: auto;
} */

.creativity{
  text-align: center;
  margin-block: 1em;
  margin-inline: 1em;
}
.creativity button{
  margin-top: 1em;
  padding-inline: 1.5em;
  /* font-size: 1em; */
}

.moving-corosale .slides-flex-1 , .slides-flex-2 , .slides-flex-3 , .slides-flex-4{
  overflow: overlay;
  display: flex;
  animation: inslide 3s linear;
}

.moving-corosale .slides img{
  width: 150px;
  height: 100px;
  margin-inline: .5em;
  margin-block: .5em;
  border-radius: .5em;
}

@keyframes inslide {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: -0px;
  }
}

/* connect */

#connect{
  max-width: 1200px ;
  margin-inline: auto;
}

.search-heading{
  text-align: center;
  margin-block-start:2em ;
  margin-block-end: 1em;
  margin-inline: 1em;
}
.search-button{
  margin-inline: 1em;
}
.search-button form{
  /* margin-inline: 1em; */
  padding-block: 1em;
  background: rgb(249, 247, 247);
  border-radius: 2em;
}
.search-button form i{
  margin-inline-start: 1em;
  margin-inline-end: .5em;
  color: grey;
}
.search-button input{
  font-size: .9em;
  background: rgb(249, 247, 250);
  border: none;
  /* margin-inline: 1em; */
  font-size: 1em;
}
.search-button button{
  margin-block: 1em;
  width: 100%;
}

/* showcase */

#showcase{
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 1em;
}

.who-patreon{
  margin-inline: 1em;
  text-align: center;
  margin-block: 1em;
}
.who-patreon h2{
  margin-block-end: .5em;
}
.who-patreon p{
  line-height: 1.5em;
  font-weight: lighter;
}

.flex-items{
  margin-inline: 2em;
}

.create img{
  min-width: 100px;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  /* border: 2px solid ; */
}
.create h3{
  margin-block:1em;
  text-align: center;
}
.create p{
  margin-inline: -1em;
  text-align: center;
  margin-block: .5em;
  line-height: 1.5em;
}

.membership img{
  min-width: 100px;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  margin-block: 1em;
}
.membership h3{
  margin-block:1em;
  text-align: center;
}
.membership p{
  margin-inline: -1em;
  text-align: center;
  margin-block: .5em;
  line-height: 1.5em;
}

.trolls img{
  min-width: 100px;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  margin-block: 1em;
}
.trolls h3{
  margin-block:1em;
  text-align: center;
}
.trolls p{
  margin-inline: -1em;
  text-align: center;
  margin-block: .5em;
  line-height: 1.5em;
}

.algorithm img{
  min-width: 100px;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  margin-block: 1em;
}
.algorithm h3{
  margin-block:1em;
  text-align: center;
}
.algorithm p{
  margin-inline: -1em;
  text-align: center;
  margin-block: .5em;
  line-height: 1.5em;
}

/* uses patreon */

#uses-patreon{
  max-width: 1200px;
  margin-inline:auto ;
}
.who-uses h2 , p{
  text-align: center;
}

.who-uses p{
  line-height: 1.5em;
  margin-top: 1em;
}
.options{
  text-align: center;
  margin-block: 1em;
}
.options ul{
  margin-inline: 1em;

}
.options ul li{
  display: inline-block;
  margin-inline: .2em;
  margin-block: .5em;
  background:rgb(249, 247, 250);
  padding-block: .7em;
  padding-inline: 1em;
  border-radius: 2em;
  font-size: 14px;
  font-weight: 400;
}
.options ul li:hover{
  background-color: #ff424d;
  color: #fff;
}

.action{
  text-align: center;
}
.action h2{
  margin-block: 1em;
}
.action p{
  line-height: 1.5em;
  margin-block: 1em;
}
.news{
  margin-inline: 1em;
  margin-block: 1em;
}
.news h4{
  margin-block: 1em;
}

.ready{
  background-color:rgb(249, 247, 250) ;
  text-align: center;
  padding-block: 2em;
}
.ready h2{
  margin-block-start: 1em;
}
.ready button{
  margin-block: 1em;
  padding-inline: 2em;
}

/* footer */

#footer{
  padding-block: 1em;
}

.f-flex{
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}
.f-flex .c-logo{
  width: 40px;
}

.f-flex .i-logo ul li{
  padding: .9em;
  border-radius: 2em;
  background-color:rgb(37, 34, 38) ;
  /* border: 1px solid red; */
  display: inline-block;
  margin-left: .5em;
}

.f-selector{
  max-width: 1200px;
  margin-inline: auto;
}
.f-selector form{
  border: 2px solid white;
  padding: 1em;
  margin-block: .5em;
  font-weight: 700;
  /* width: fit-content; */
}
.f-wrap{
  margin-block: 1em;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.f-wrap h5{
  font-size: .9em;
  font-weight: 500;
  margin-block: 1em;

}
.f-wrap ul li{
  font-size: .9em;
  line-height: 1.5em;
  font-weight: 400;
}
@media(min-width:1000px){

  /* navbar */
  .selling{
    display: block;
  }
  .input{
    display: block;
  }
  .second-input{
    display: none;
  }
}
